body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: cornflowerblue; */
  background-color: #994409;
  margin: 0;
}

h1 {
  color: #ffc700;
  font-size: 3rem;
}

canvas {
  /* background-color: black; */
  border-radius: 20px;
  box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.253);

}

.start-screen {
  position: absolute;
  inset: 0;
  background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #994409;

}

button {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  width: 200px;
  height: 50px;
  background-color: #ffc700;
  /* border: 2px solid #9a3a17; */
  border: none;
  color: #63240e;
  cursor: pointer;
  box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.253);
  transition: all 125ms ease-in-out;
}

button:hover {
  background-color: #ffcf23;
  transform: translateY(-1px);
  transition: all 125ms ease-in-out;
}

.control-description-wrapper {
  padding: 50px;
  color: #ffc700;
  display: flex;
  gap: 20px;
}

.control-item {
  display: flex;
  width: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  /* background-color: rebeccapurple; */
}

.control-item img {
  height: 55px;
  margin-top: 10px;
}

.rotate-90 {
  transform: rotate(-90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.key-image {
  font-size: 64px;
  font-weight: 900;
}

.d-none {
  display: none;
}