body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
}

canvas {
  /* background-color: black; */
  border-radius: 20px;
}

.start-screen {
  position: absolute;
  inset: 0;
  background-image: url(img/9_intro_outro_screens/start/startscreen_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background-color: rebeccapurple;
}

.d-none {
  display: none;
}